certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
facenet-pytorch==2.3.1
idna==2.10
imutils==0.5.3
kiwisolver==1.2.0
matplotlib==3.3.1
mkl-fft==1.1.0
mkl-random==1.1.0
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1596233945180/work
olefile==0.46
opencv-python==4.4.0.42
Pillow @ file:///C:/ci/pillow_1594298234712/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyenchant==3.1.1
pyparsing==2.4.7
pytesseract==0.3.5
python-dateutil==2.8.1
requests==2.24.0
six==1.15.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.48.2
urllib3==1.25.10
wincertstore==0.2
